.top{
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
}
.updateButton{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 6%;
    left: 95%;
    transform: translate(-50%, -50%);
    background-color: lightgreen;
    border: 5px solid green;
    color: green;
    font-weight: bold;
    font-family: 'Press Start 2P', monospace;
    font-size: 0.5em;
    transition: all 0.5s ease;
}
.updateButton:hover{
    background-color: white;
    cursor: pointer;
}
.welcomeButton{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 6%;
    left: 89%;
    transform: translate(-50%, -50%);
    background-color: lightgreen;
    border: 5px solid green;
    color: green;
    font-weight: bold;
    font-family: 'Press Start 2P', monospace;
    font-size: 0.5em;
    transition: all 0.5s ease;
}
.welcomeButton:hover{
    background-color: white;
    cursor: pointer;}

.top img{
    display: block;
    width: 100px;
    height: auto;
    flex-shrink: 0;
}
#title{
    display: flex;
    justify-content: center;
    text-shadow: 0 0 5px lightgreen;
    font-size: 3em;
    font-family: 'Press Start 2P';
}
#hr{
    height: 2.5px;
    color: lightgreen;
    background-color: green;
    box-shadow: 0 0 10px lightgreen;
}
#hr1{
    position: absolute;
    height: 2.5px;
    width: 99%;
    color: lightgreen;
    background-color: green;
    box-shadow: 0 0 10px lightgreen;
    top: 10.3%;
    left: 0.4%;
}

#update{
    display: flex;
    justify-content: center;
    color: green;
    text-shadow: 0 0 5px lightgreen;
    font-family: 'Press Start 2P';

}
body{
    background-color: aliceblue;
    box-shadow: 0 0 20px green;
}
